
    <div class="container-fluid">

        {{#repository}}
            Associated to {{repository.name}} repository
            {{#organization}}
                in {{organization.name}}
            {{/organization}}
        {{/repository}}

        <br>

        <h4>
            Reports
        </h4>

        <ul class="list-group">
            <br>
            {{#reports}}
                <a href="/projs/{{project_id}}/report/{{pk.timestamp}}" class="list-group-item list-group-item-action">
                    <b>Timestamp:</b> {{readableTimeStamp}}
                    <br>
                    {{#tag}}
                        <b>Tag:</b> {{tag}}
                        <br>
                    {{/tag}}
                    Out of {{dependency.size}} dependencies, {{vulnerableDependencies}} are vulnerable
                    <br>
                    In total, {{vulnerabilitiesCount}} vulnerabilities were found
                    <br>
                    <!-- TODO TO IMPLEMENT -- Number of vulnerabilities ignored -->
                </a>
            {{/reports}}
            <br>
        </ul>
    </div>