{{> header}}

<br>

<div class="container-fluid">

    <h2 class="text-center">
        {{project_name}}
    </h2>
    {{#is_admin}}
        {{> user/add-user-project-partial}}
    {{/is_admin}}
    <p>
        <a class="btn btn-outline-danger text-left" href="/">See all projects</a>
    </p>

    <div class="nav nav-pills nav-justified">
        <a class="nav-item nav-link btn-outline-dark active" id="detail" href="#detail" onfocus="filterElementToShow('projs/{{project_id}}/filter/detail', 'show-information', 'detail')">
            Detail
        </a>
        <a class="nav-item nav-link btn-outline-dark" id="licenses" href="#licenses" onfocus="filterElementToShow('projs/{{project_id}}/filter/licenses', 'show-information', 'licenses')">
            Licenses
        </a>
        <a class="nav-item nav-link btn-outline-dark" id="vulnerabilities" href="#vulnerabilities" onfocus="filterElementToShow('projs/{{project_id}}/filter/vulnerabilities', 'show-information', 'vulnerabilities')">
            Vulnerabilities
        </a>
    </div>

    <br>

    <div class="container-fluid" id="show-information">
        {{> project/project-detail-partial}}
    </div>

</div>

{{> footer}}