
    <ul class="list-group">
        {{#projects}}
            <a href="/projs/{{name}}" class="list-group-item list-group-item-action">
                <b>Name:</b> {{name}}
            </a>

            <br>
        {{/projects}}
    </ul>