
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#addUserToProject">
        Add Users to Project
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addUserToProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add user to {{project_id}} project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="user-name">Username</label>
                    <input type="text" id="user-name" placeholder="UserName">
                    <br>
                    <button class="btn btn-outline-dark" onclick="addUser('{{project_id}}')">Add User</button>
                    Already existing users:
                    <ul class="list-group" id="user-project-list">
                        {{#associated_users}}
                            <li class="list-group-item">
                                {{username}}
                            </li>
                        {{/associated_users}}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>