
{{> authentication-header}}

<br>

<div class="container-fluid">

    <h3 class="text-center">
        Login
    </h3>

    <br>

    {{#error}}
        <div class="alert alert-danger">
            Invalid username and password
        </div>
    {{/error}}
    {{#logout}}
        <div class="alert alert-success">
            You have been logged out.
        </div>
    {{/logout}}
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="user-name">Username</label>
            <input type="text" name="username" class="form-control" id="user-name" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter Password" required>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>

    <br>
    Don't have an account?
    <a href="/register">
         Create one.
    </a>
</div>

{{> footer}}