
{{> header}}

<div class="container-fluid">
    <div class="text-center">
        {{username}}
    </div>

    <div class="nav nav-pills nav-justified">
        <a class="nav-item nav-link btn-outline-dark  active" id="detail" href="#detail">
            Detail
        </a>
        <a class="nav-item nav-link btn-outline-dark " id="licenses" href="#licenses">
            Projects
        </a>
    </div>

    <div id="show-information">
        <b>Name:</b> {{name}}
        <br>
        {{#token}}
            <b>Token</b> <div id="token-info">{{token}}</div>
            <button class="btn btn-outline-dark" onclick="getToken()">
                Revoke Token
            </button>
        {{/token}}
        {{^token}}
            <b>There is no token associated with this user</b>
            <button class="btn btn-outline-dark" onclick="getToken()">
                Create Token
            </button>
        {{/token}}
    </div>

</div>

{{> footer}}