
{{> header}}

<br>

<div class="container-fluid">
    <h2 class="text-center">
        {{username}}
    </h2>

    <div id="show-information">
        <b>Name:</b> {{name}}
        <br>
        <b>Token:</b> <div id="token-info"></div>
        <button class="btn btn-outline-dark" onclick="getToken()">
            Get Token
        </button>
    </div>

</div>

{{> footer}}