
{{> header}}

<br>

<div class="container-fluid">

    <p>
        <a class="btn btn-outline-danger text-left" href="/licenses">See All Licenses</a>
    </p>

    <h2 class="text-center">
        License {{license_id}}
    </h2>

    <br>

    Used by:

    <ul class="list-group">
        {{#dependencies}}
            <a class="list-group-item list-group-item-action" href="/deps/{{pk.dependency.pk.id}}/version/{{pk.dependency.pk.mainVersion}}">
                <b>Dependency Name:</b> {{pk.dependency.pk.id}}
                <br>
                <b>Source:</b> {{source}}
            </a>
            <br>
        {{/dependencies}}
    </ul>

</div>

{{> footer}}