
{{> header}}

<br>

<h2 class="text-center">
    License {{license_id}}
</h2>

<br>

<div class="container-fluid">

    Used by:

    <ul class="list-group">
        {{#dependencies}}
            <a class="list-group-item list-group-item-action" href="/projs/{{pk.dependency.pk.report.pk.project.id}}/report/{{pk.dependency.pk.report.pk.timestamp}}/deps/{{pk.dependency.pk.id}}/version/{{pk.dependency.pk.mainVersion}}">
                <b>Dependency Name:</b> {{pk.dependency.pk.id}}
                <br>
                <b>Source:</b> {{source}}
            </a>
            <br>
        {{/dependencies}}
    </ul>

</div>

{{> footer}}