{{> header}}

<div class="body-container">

    <h3>
        Project Name: {{project_name}}
    </h3>

    <br>
    <h4>
        Builds
    </h4>
    <div class="card card-body" id="build-info">
        {{#builds}}
            <a href="/report/project/{{project_name}}/build/{{pk.timestamp}}/detail" class="list-group-item list-group-item-action">
                Timestamp: {{pk.timestamp}}
                <br>
                {{#tag}}
                    Tag: {{tag}}
                {{/tag}}
            </a>
            <br>
        {{/builds}}
    </div>

</div>

<!--#vulnerabilities}}
                    Vulnerability Title: title}}
                    <br>
                    Vulnerability Description: description}}
                /vulnerabilities}}
                <br> -->

{{> footer}}