<div class="card">
    Report generation time: {{build_id}}
    <br>
    {{#build_tag}}
        Tag: {{build_tag}}
    {{/build_tag}}
</div>

<br>

Vulnerable
<ul class="list-group" id="error-list">
    {{#vulnerable_dependencies}}
        <li class="list-group-item list-group-item-danger">
            <a href="/projs/{{project_id}}/report/{{build_id}}/deps/{{pk.id}}/version/{{pk.mainVersion}}" class="list-group-item list-group-item-action">
                Name: {{pk.id}}
                <br>
                Main Version: {{pk.mainVersion}}
                <br>
                {{vulnerabilitiesCount}} vulnerabilities found
            </a>
        </li>
        <br>
    {{/vulnerable_dependencies}}
</ul>

<br>

Not Vulnerable
<ul class="list-group" id="dependency-list">
    {{#dependencies}}
        <li class="list-group-item list-group-item-success">
            <a href="/projs/{{project_id}}/report/{{build_id}}/deps/{{pk.id}}/version/{{pk.mainVersion}}" class="list-group-item list-group-item-action">
                Name: {{pk.id}}
                <br>
                Main Version: {{pk.mainVersion}}
                <br>
                {{vulnerabilitiesCount}} vulnerabilities found
            </a>
        </li>
        <br>
    {{/dependencies}}
</ul>