{{> header}}

<div class="container-fluid">

    <h3>
        Dependency Name: {{title}}
    </h3>
    <br>
    Main Version: {{main_version}}
    {{#description}}
        <br>
        Description: {{description}}
        <br>
    {{/description}}
    <h4>Licenses:</h4>
    <ul class="list-group">
        {{#license}}
            <li class="list-group-item">
                License Name: {{pk.license.spdxId}}
                <br>
                License Source: {{source}}
            </li>
        {{/license}}
    </ul>
    <br>
    <h4>Vulnerabilities:</h4>
    <ul class="list-group">
        {{#vulnerabilities}}
            <li class="list-group-item">
                Vulnerability Title: {{pk.vulnerability.title}}
                <br>
                Vulnerability Description: {{pk.vulnerability.description}}
            </li>
        {{/vulnerabilities}}
    </ul>
    <br>

</div>

<!--#vulnerabilities}}
                    Vulnerability Title: title}}
                    <br>
                    Vulnerability Description: description}}
                /vulnerabilities}}
                <br> -->

{{> footer}}