<!DOCTYPE html>
<head>
    <title>{{page_title}}</title>

    <script type='text/javascript' src='/javascript/jquery-3.3.1.js'></script>
    <script type='text/javascript' src='/javascript/popper.min.js'></script>
    <script type='text/javascript' src='/javascript/bootstrap.min.js'></script>
    <script type='text/javascript' src='/javascript/clientJs.js'></script>

    <link rel='stylesheet' href='/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/css/ui.css" />

</head>
<body>

    <nav class='navbar navbar-expand-lg'>
        <a class="navbar-brand">OSDA</a>
        <a class='navbar-brand' href="/"> Home </a>
        <a class='navbar-brand' href="/deps"> Dependencies </a>
        <a class='navbar-brand' href="/licenses"> Licenses </a>
    </nav>
