<!DOCTYPE html>
<html>
<head>
    <title>{{page_title}}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/ui.css" type="text/css"/>

    <script type='text/javascript' src='/javascript/clientJs.js'></script>
    <script type='text/javascript' src='/javascript/jquery-3.3.1.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</head>
<body>

    <nav class='navbar navbar-expand-lg'>
        <h1 class='navbar-brand'> OSDA </h1>
        <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item active'>
                    <a class='nav-link' href='/'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="/deps?page=0"> Dependencies </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="/licenses?page=0"> Licenses </a>
                </li>
            </ul>
        </div>
        {{#username}}
            <div class="dropdown">
                <button class="btn dropdown-button dropdown-toggle" type="button" data-toggle="dropdown">
                    {{username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/user">Profile</a>
                    <button class="dropdown-item" onclick="logout()">Logout</button>
                </div>
            </div>
        {{/username}}
    </nav>