<!DOCTYPE html>
<html>
<head>
    <title>{{page_title}}</title>

    <link rel='stylesheet' href='/css/bootstrap.min.css' type="text/css"/>
    <link rel="stylesheet" href="/css/ui.css" type="text/css"/>

    <script type='text/javascript' src='/javascript/clientJs.js'></script>
    <script type='text/javascript' src='/javascript/jquery-3.3.1.js'></script>
    <script type='text/javascript' src='/javascript/popper.min.js'></script>
    <script type='text/javascript' src='/javascript/bootstrap.min.js'></script>


</head>
<body>

    <nav class='navbar navbar-expand-lg'>
        <h1 class='navbar-brand'> OSDA </h1>
        <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item active'>
                    <a class='nav-link' href='/'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="/deps?page=0"> Dependencies </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="/licenses?page=0"> Licenses </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="/register"> Register </a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-button dropdown-toggle" type="button" data-toggle="dropdown">
                {{#username}}{{username}}{{/username}}Hello
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/user">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </nav>