
{{> header}}

    <h2 class="text-center">
        Projects
    </h2>

    <br>

    <div class="container-fluid">
        <p>
            <input type="text" id="search-project" name="search" placeholder="Project Name">
            <br>
            <button class="btn btn-outline-dark" onclick="search('search-project', 'search/projs', 'project-list')">Search</button>
        </p>

        <div id="project-list">
            {{> project/project-list-partial}}
        </div>

    </div>

{{> footer}}