
{{> header}}

<div class="body-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Filter</h5>
                <div class="form-row">
                    <div class="col">
                        <label for="filterTypeSelect">Type</label>
                        <select class="form-control form-control-sm" id="filterTypeSelect">
                            <option>Project</option>
                            <option>Dependency</option>
                            <option>License</option>
                            <option>Vulnerability</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="filterText">Text</label>
                            <input type="text" class="form-control" id="filterText" required>
                        </div>
                    </div>
                </div>
                <p id="filter-error" class="filter-error"></p>
                <button type="submit" class="btn btn-primary" onclick="filterHomeScreen()">Submit</button>
                <button type="submit" class="btn btn-primary" onclick="filterHomeScreen('None')">Reset</button>
        </div>
    </div>

    <br>

    <div id="project-list">
        {{#projects}}
            <a href="/report/{{project_name}}/build" class="list-group-item list-group-item-action">
                Name: <b>{{project_name}}</b>
            </a>

            <br>
        {{/projects}}

    </div>
</div>

    </div>

{{> footer}}
