
{{> header}}

    <h2 class="text-center">
        Licenses
    </h2>

    <br>

    <div class="container-fluid">
        <p>
            <input type="text" id="search-license" name="search" placeholder="License Name">
            <br>
            <button class="btn btn-outline-dark" onclick="search('search-license', 'search/licenses', 'licenses-list')">Search</button>
        </p>

        <div id="licenses-list">
            {{> generic-licenses}}
        </div>
    </div>

{{> footer}}