<ul class="list-group">
    {{#licenses}}
        <a class="list-group-item list-group-item-action" href="/licenses/{{pk.license.spdxId}}">
            License Name: {{pk.license.spdxId}}
            <br>
            Dependency: {{pk.dependency.pk.id}}
            <br>
            Source: {{source}}
        </a>
        <br>
    {{/licenses}}
    {{^licenses}}
        There are no licenses for the current context
    {{/licenses}}
</ul>