<div class="body-container">
    <ul class="list-group">
        {{#projects}}
            <li class="list-group-item">
                Name: <b>{{project_name}}</b>
                <br>
                <p>
                    <a class="btn" data-toggle="collapse" href="#{{id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Latest Builds
                    </a>
                </p>
                <div class="collapse" id="{{id}}">
                    <div class="card card-body" id="build-info">
                        {{#builds}}
                            <a href="/report/project/{{project_name}}/build/{{timestamp}}/detail" class="list-group-item list-group-item-action">
                                Project Name: {{project_name}}
                                <br>
                                Timestamp: {{timestamp}}
                                <br>
                                Tag: {{tag}}
                                <br>
                            </a>
                        {{/builds}}
                    </div>
                </div>
                <a class="btn" type="button" href="/report/build/{{project_name}}">All Builds</a>
            </li>
        {{/projects}}
    </ul>
</div>