<div class="card">
    Report generation time: {{readable_time}}
    <br>
    {{#build_tag}}
        Tag: {{build_tag}}
    {{/build_tag}}
</div>

<br>

Vulnerable Dependencies
<ul class="list-group" id="error-list">
    {{#vulnerable_dependencies}}
        <li class="list-group-item list-group-item-danger">
            <a href="/projs/{{project_id}}/report/{{report_id}}/deps/{{pk.id}}/version/{{pk.mainVersion}}" class="list-group-item list-group-item-action">
                Name: {{pk.id}}
                <br>
                Main Version: {{pk.mainVersion}}
                <br>
                {{vulnerabilitiesCount}} vulnerabilities found
            </a>
        </li>
        <br>
    {{/vulnerable_dependencies}}
    {{^vulnerable_dependencies}}
        No vulnerabilities were found for any of this reports dependencies
    {{/vulnerable_dependencies}}
</ul>