
{{> header}}

<div class="container-fluid">

    <h2 class="text-center" id="test">
        {{project_id}}
    </h2>

    <a class="btn btn-outline-danger text-left" href="/projs/{{project_id}}">See the project</a>

    <div class="btn-group-toggle text-center" data-toggle="buttons">
        <label class="btn btn-outline-dark text-center active" id="option-list">
            <input type="radio" name="projs/{{project_id}}/report/{{report_id}}/filter/detail" autocomplete="off" checked> Detail
        </label>
        <label class="btn btn-outline-dark text-center" id="option-list">
            <input type="radio" name="projs/{{project_id}}/report/{{report_id}}/filter/licenses" autocomplete="off"> Licenses
        </label>
        <label class="btn btn-outline-dark text-center" id="option-list">
            <input type="radio" name="projs/{{project_id}}/report/{{report_id}}/filter/vulnerabilities" autocomplete="off"> Vulnerabilities
        </label>
    </div>

    <br>

    <div id="show-information">

        {{> report-detail}}

    </div>

</div>


{{> footer}}