
{{> header}}

    <h2 class="text-center">
        Dependencies
    </h2>

    <br>

    <div class="container-fluid">
        <p>
            <input type="text" id="search-dependency" name="search" placeholder="Dependency Name">
            <br>
            <button class="btn btn-outline-dark" onclick="search('search-dependency', 'search/dependencies', 'dependencies-list')">Search</button>
        </p>

        <div id="dependencies-list">
            {{> dependency/dependency-list-partial}}
        </div>

    </div>

{{> footer}}