{{> header}}

<div class="container-fluid">

    <h3 class="text-center">
        {{title}}
    </h3>

    <a class="btn btn-outline-danger text-left" href="/projs/{{project_id}}/report/{{report_id}}">See the report</a>

    <br>

    <br>

    Main Version: {{main_version}}
    {{#description}}
        <br>
        Description: {{description}}
        <br>
    {{/description}}
    <h4>Licenses:</h4>
    <ul class="list-group">
        {{#license}}
            <a class="list-group-item list-group-item-action" href="/licenses/{{pk.license.spdxId}}">
                License Name: {{pk.license.spdxId}}
                <br>
                License Source: {{source}}
            </a>
        {{/license}}
        {{^license}}
            No licenses were found for this dependency
        {{/license}}
    </ul>
    <br>
    <h4>Vulnerabilities:</h4>
    <ul class="list-group">
        {{#vulnerabilities}}
            <a class="list-group-item list-group-item-action" href="/deps/{{dependency_id}}/vulnerability/{{pk.vulnerability.id}}">
                Vulnerability Title: {{pk.vulnerability.title}}
                <br>
                Vulnerability Description: {{pk.vulnerability.description}}
                <br>
                Affected Versions: {{versionCriteria}}
            </a>
        {{/vulnerabilities}}
        {{^vulnerabilities}}
            No vulnerabilities were found for this dependency
        {{/vulnerabilities}}
    </ul>
    <br>

</div>

{{> footer}}