
    <ul class="list-group" id="dependency-list">
        {{#dependencies}}
            <a href="/deps/{{id}}/version/{{mainVersion}}" class="list-group-item list-group-item-action">
                <b>Name:</b> {{id}}
                <br>
                <b>Main Version:</b> {{mainVersion}}
                <br>
                {{vulnerabilitiesCount}} vulnerabilities found
            </a>
            <br>
        {{/dependencies}}
    </ul>