{{> header}}

<br>

<div class="container-fluid">

    <p>
        <a class="btn btn-outline-danger text-left" href="/deps">See All Dependencies</a>
    </p>

    <h3 class="text-center">
        {{title}}
    </h3>

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link btn-outline-dark active" data-toggle="tab" href="#detail">Detail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-dark" data-toggle="tab" href="#projects"> Related Projects</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="detail" role="tabpanel">
            {{> dependency/generic-dependency-detail-partial}}
        </div>
        <div class="tab-pane fade" id="projects" role="tabpanel">
            {{> project/project-list-partial}}
        </div>
    </div>
</div>

{{> footer}}