
    <b>Version:</b> {{main_version}}
    {{#description}}
        <br>
        <b>Description:</b> {{description}}
        <br>
    {{/description}}
    <h4>Licenses:</h4>
    <ul class="list-group">
        {{#license}}
            <a class="list-group-item list-group-item-action" href="/licenses/{{pk.license.spdxId}}">
                <b>License Name:</b> {{pk.license.spdxId}}
                <br>
                <b>License Source:</b> {{source}}
            </a>
        {{/license}}
        {{^license}}
            No licenses were found for this dependency
        {{/license}}
    </ul>
    <br>
    <h4>Vulnerabilities:</h4>
    <ul class="list-group">
        {{#vulnerabilities}}
            <a class="list-group-item list-group-item-action" href="/deps/{{dependency_id}}/vulnerability/{{pk.vulnerability.id}}">
                <b>Vulnerability Title:</b> {{pk.vulnerability.title}}
                <br>
                <b>Vulnerability Description:</b> {{pk.vulnerability.description}}
                <br>
                <b>Affected Versions:</b>
                <ul class="list-group" id="{{pk.vulnerability.id}}">
                </ul>
                <script>filterAffectedVersions('{{pk.vulnerability.id}}', '{{versionCriteria}}')</script>
                <br>
                <b>Source:</b> {{sourceDependency}}
            </a>
        {{/vulnerabilities}}
        {{^vulnerabilities}}
            No vulnerabilities were found for this dependency
        {{/vulnerabilities}}
    </ul>