
{{> header}}

<br>

<div class="container-fluid">

    <p>
        <a class="btn btn-outline-danger text-left" href="/projs/{{project_id}}">See the project</a>
    </p>

    <h2 class="text-center" id="test">
        {{project_name}} Report
    </h2>

    <br>

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link btn-outline-dark active" data-toggle="tab" href="#detail">Detail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-dark" data-toggle="tab" href="#licenses">Licenses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-dark" data-toggle="tab" href="#vulnerabilities">Vulnerabilities</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="detail" role="tabpanel">
            {{> report/report-detail-partial}}
        </div>
        <div class="tab-pane fade" id="licenses" role="tabpanel">
            {{> license/license-list-partial}}
        </div>
        <div class="tab-pane fade" id="vulnerabilities" role="tabpanel">
            {{> vulnerability/vulnerability-list-partial}}
        </div>
    </div>

</div>


{{> footer}}