    <div class="container-fluid">

        <p>
            <b>Report generation time:</b> {{readable_time}}
            <br>
            {{#build_tag}}
                <b>Tag:</b> {{build_tag}}
            {{/build_tag}}
            <br>
            {{#build_tag}}
                <b>Error Info:</b> {{error_info}}
            {{/build_tag}}
        </p>


            {{#vulnerable_dependencies.0}}
                    Vulnerable Dependencies
            {{/vulnerable_dependencies.0}}
                <ul class="list-group" id="error-list">
                    {{#vulnerable_dependencies}}
                        <li class="list-group-item list-group-item-danger">
                            <a href="/projs/{{project_id}}/report/{{report_id}}/deps/{{pk.id}}/version/{{pk.mainVersion}}" class="list-group-item list-group-item-action">
                                <b>Name:</b> {{pk.id}}
                                <br>
                                <b>Main Version:</b> {{pk.mainVersion}}
                                <br>
                                {{vulnerabilitiesCount}} vulnerabilities found
                            </a>
                        </li>
                        <br>
                    {{/vulnerable_dependencies}}
                </ul>
            {{^vulnerable_dependencies}}
                No vulnerabilities were found for any of this reports dependencies
            {{/vulnerable_dependencies}}
        </ul>
    </div>